// .profile-img 클래스에 대한 border-radius 제거 (background-image를 사용하는 요소)
.profile-img {
  border-radius: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// justify-content: start 적용 및 줄바꿈 설정 (한국어 단어는 깨지지 않음)
.layout .details {
  justify-content: start !important;
  word-break: keep-all;
}

// 인쇄 시 세로 방향(portrait) 설정 및 텍스트 줄바꿈
@media print {
  @page {
    size: portrait;
  }
  
  // 인쇄 시 Bootstrap 그리드 클래스가 작동하도록 명시적으로 설정
  .layout .details {
    width: 25% !important;
  }
}

.layout .content {
  width: 75% !important;
}
